

  fieldset {
    padding: 5px;
  }


  header, footer {
    color: #00A79D;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    /* border: 1px solid yellow; */
    text-align: left;
    padding: 8px;
  }

  td.konteneval::after {
    content: "%"
  }

  tr:nth-child(even) {
    background-color: #33A79D;
  }

  .collapsible {
    width: 100%;
    border: none;
    text-align: left;

    background-color: inherit;
    cursor: pointer;

    border-radius: 16px;
  }

  .active, .collapsible:hover {
    background-color: white;
    color: #282d30;
  }

  .collapcontent {
    display: none;
    overflow: hidden;
  }

  .content {
    background-color: #00A79D;
    color: white;
    padding: 5px 10px;
    border-radius: 16px;

    margin: 16px 8px;
  }

  .unsur {
    border: 1px solid #0dcaf0;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
  }

  .add_element {
    display: flex;
  }

  .add_element p {
    margin: 10px;
  }

  .persentase::after {
    content: "%"
  }


